.menu {
  background-color: #5b21b6;
  color: #fff;
}
.menuList {
  list-style: none;
  display: -webkit-inline-box;
  padding: 10px 0;
  font-size: 21px;
}
.menuItem {
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  :hover {
    color: #a78bfa;
  }
}
.itemLink {
  color: #fff;
}
